name: Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
      - 'internal/website/**'
      - '.vscode/**'
      - '.husky/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'internal/website/**'
      - '.vscode/**'
      - '.husky/**'

env:
  CI: true
  PNPM_CACHE_FOLDER: .pnpm-store

jobs:
  build:
    name: Install, Build and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [14, 16]
        os: [ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Cache pnpm modules
        uses: actions/cache@v3
        env:
          cache-name: cache-pnpm-modules
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node }}-${{ hashFiles('./pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-${{ matrix.node }}-

      - run: npm install -g pnpm@latest
      - name: Node version
        run: node --version
      - name: pnpm version
        run: pnpm --version
      - name: Install dependencies and build
        run: pnpm install
      - name: Global Jest
        run: pnpm i -g jest
      - name: Test ESM
        run: node scripts/test-esm.mjs
      - name: Test everything
        run: pnpm test:ci
